.app-header {
  width: 100%;
  grid-column: span 2 / 4;
  filter: brightness(90%);

  padding-inline-end: 10px;
  svg {
    &:hover {
      color: lightseagreen;
      cursor: pointer;
    }
  }
  h1 {
    display: none;
  }
}
@media (max-width: 768px) {
  nav {
    padding: 10px;
  }
  .app-header {
    padding-inline-end: 10px;
  }
}
