.chat-list {
  overflow: auto;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 255px);
  max-height: calc(100vh - 255px);
}
.msg-preview {
  grid-template-columns: 50px 1fr 50px;
  align-items: center;
  padding: 10px 10px;
  gap: 10px;
  img {
    width: 50px;
    border-radius: 50%;
    outline: 1px black solid;
  }
  p {
    width: 100%;
    display: grid;
    gap: 5px;
    grid-template-columns: 100px 10fr;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;
    font-weight: 700;
    .msg-txt {
      color: white;
    }
    justify-self: start;
    &:last-child {
      justify-self: end;
    }
    span {
      &:nth-child(1) {
        width: fit-content;
        text-align: center;
        justify-self: center;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
        border-radius: 10px;
        max-height: 25px;
        padding: 0px 5px;
        outline: 1px solid rgba(255, 255, 255, 0.164);
      }
    }
  }
}

.msg-preview.right {
  background-color: rgba(245, 245, 220, 0.041);
  p {
    .msg-user {
      color: lightskyblue;
    }
  }
}
.msg-preview.left {
  background-color: rgba(245, 245, 220, 0.11);
  p {
    .msg-user {
      color: lightsalmon;
    }
  }
}
