nav {
  padding-inline: 10px;
  padding-block: 10px;
  width: fit-content;
  gap: 30px;
  display: flex;
  padding-inline-start: 30px;
  svg {
    cursor: pointer;
    transition: scale 0.1s ease, padding 0.1s ease;
    &:hover {
      scale: 1.05;
      color: #00000093;
    }
  }
}

.selected {
  svg {
    padding: 5px;
  }
  margin: 0px;

  color: #00000093;
  border-radius: 50%;
  background-color: #ffffff;
}

nav,
.app-header {
  background-color: $main-color;
}

.right-menu {
  grid-column: 3;
  grid-row: span 2 / 4;
  background: linear-gradient(to top, $main-color, #33333327);
}
