nav {
  padding-inline: 10px;
  padding-block: 10px;
  gap: 10%;
  background: #ffffff27;
  width: fit-content;
  display: flex;
  svg {
    cursor: pointer;
    transition: scale 0.1s ease, padding 0.1s ease;
    &:hover {
      scale: 1.05;
      color: lightseagreen;
    }
  }
}

.selected {
  svg {
    padding: 5px;
  }
  margin: 0px;

  color: lightseagreen;
  border-radius: 50%;
  background-color: #ffffff;
}

.right-menu {
  grid-column: 3;
  grid-row: span 2 / 4;
  background: linear-gradient(to top, #ffffff27, #33333327);
}
