.app-container {
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: 60px 1fr 250px;
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 768px) {
  .app-container {
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr 60px;

    .chat-list {
      .left {
        img {
          box-shadow: lightcoral 0px 3px 1px;
        }
      }
      .right {
        img {
          box-shadow: lightskyblue 0px 3px 1px;
        }
      }
      .msg-preview {
        grid-template-columns: 30px 1fr;
        align-items: start;
        width: 100%;
        p {
          display: block;

          &:last-child,
          span:nth-child(1) {
            display: none;
          }
        }
      }
    }

    .app-header {
      .nav-icon {
      }
    }
    nav {
      grid-area: unset;
    }
  }
  .chat-container {
    width: 100%;
    height: 100%;
  }
}
